<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <div class="box" id="heading">
      <h1><%= todayvalue %></h1>
    </div>
    <div class="box">
        <%   for(i=0;i<listItems.length;i++){ %>
          <div class="item">
            <input type="checkbox" >
            <p><%= listItems[i] %></p>
            </div>  
  <%      } %>
  <form action="/" method="POST" class="item">
    <input type="text" placeholder="New Items" name="todoInput" autocomplete="off">
    <button type="submit" id="btn">+</button>
    </form>
      </div>
      <!-- <form action="/reset" class="d-inline" method="post"><button class=" btn btn-danger d-inline" >Hard Reset</button>
      </form> -->
        
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="./scirpt.js"></script>
</body>
</html>